{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <style>

        body {
            background-image: url('https://lh3.googleusercontent.com/drive-viewer/AITFw-y-AnRXrUTHOfOHphrlD0DPUN03x_F7e9iWB1J_m4xuRreUx7OyyXdNKT1otzCyaEVLDClxrFEFgEQcVXot2vSKXCQ8=w1366-h651');
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat; 
            height: 100vh;
        }

        .title-register{
            width: 100%;
            text-align: center;
            font-family: 'Inter', sans-serif;
            color: white;
            font-size: 3rem;
        }

        p{
            font-family: 'Inter', sans-serif;

        }
        
        .contenedor{
            width: 100%;
            height: 100%;
            display:grid;
            justify-content: center;
            align-items: center;
        }


        
        .formcontact {
            color: white;
            font-size: 30px;
            text-shadow: 2px 2px rgb(39, 37, 37);
            z-index: 3;

            display: grid;

            height: 400px;
            width: 600px;

            text-align: center;
            align-content: center;
        }

        .formBasicEmail {
            background-color: rgb(0 0 0 / 51%);

            display: grid;
            
            height: 400px;
            width: 600px;

            text-align: center;
            align-content: center;
            gap: 12px;


            z-index: 3;
        }

        .formBasicEmail label {
            color: white;
            font-family: 'Inter', sans-serif;
            font-size: 1.3rem;
        }
        .small-massage{
            color: white;
            font-family: 'Inter', sans-serif;
        }
        .formBasicEmail button {
            width: 90%;
            font-family: 'Kanit', sans-serif;
            font-size: 1.5rem;
            margin: 0 auto;
            margin-top:15px;
            padding: 10px;
            cursor: pointer;

        }

        /* Cambiar el color del borde cuando se enfoca en el campo */
        .formBasicEmail .form-control:focus {
            border-color: #007bff;
            outline: none;
            box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25); /* Add a subtle box shadow */
        }

        /* Cambiar el color del placeholder (texto de relleno) */
        .formBasicEmail .form-control::placeholder {
            color: #999;
        }

        /* Cambiar el color del texto cuando el campo está deshabilitado */
        .formBasicEmail .form-control:disabled {
            color: #ccc;
            background-color: rgba(255, 255, 255, 0.2); /* Example background color */
            cursor: not-allowed;
        }

        .formBasicEmail input[type="text"],
        .formBasicEmail input[type="email"],
        .formBasicEmail input[type="password"] {
            width: 90%;
            padding: 10px;
            border: none;
            border-radius: 5px;
            margin-bottom: 15px;
            color: black;
            font-size: 16px;
            font-family: 'Inter', sans-serif;

        }
        
    </style>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet">
{% endblock %}
{% block title %}Restablece tu contraseña{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <div class="contenedor">
        <div class="formBasicEmail">

            <h1 class="title-register">Reset your password</h1>

            {{ form_start(requestForm) }}
                {{ form_row(requestForm.email) }}
                <div>
                    <p class="small-massage">
                        Enter your email address, and we will send you a
                        link to reset your password.
                    </p>
                </div>

                <button class="btn btn-primary">Send password reset email</button>
            {{ form_end(requestForm) }}
        </div>
    </div>

{% endblock %}
