{% extends 'base.html.twig' %}

{% block title %}PagesLinks{% endblock %}

{% block body %}
    <h1>PagesLinks</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pages_link.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ pages_link.name }}</td>
            </tr>
            <tr>
                <th>Link</th>
                <td>{{ pages_link.link }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_pages_links_index') }}">back to list</a>

    <a href="{{ path('app_pages_links_edit', {'id': pages_link.id}) }}">edit</a>

    {{ include('pages_links/_delete_form.html.twig') }}
{% endblock %}
